* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* new */
.stripe-container {}

.stripe-wrapper h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #6772E5;
}

.stripe-wrapper p {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.stripe-wrapper a {
    text-decoration: none !important;
    box-shadow: none !important;
    color: #E37048;
    background: white;
    border: 1px solid #E37048;
    width: 180px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.stripe-wrapper a:hover {
    background: #E37048;
    color: white;
}

.stripe-wrapper img {
    max-width: 200px;
    width: 100%;
}

.stripe-container {
    background-image: url('../trainerimages/stripe-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    position: relative;
}

.stripe-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}